// ..................This is for components styles global..........

// nav list hover effect style
.nav_list_hover {
  position: relative;
  .hover_list {
    position: absolute;
    top: 100%;
    left: 0;
    // hide trick;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    transform: translateY(50px);
    padding-top: 25px;
    &.hover_right {
      left: auto;
      right: 0px;
    }
    &.min_width {
      width: 200px;
      &.min_width_lg {
        width: 250px;
      }
    }
  }
  .hover_action:hover .hover_list {
    opacity: 1;
    pointer-events: visible;
    transform: translateY(0px);
  }
}

// custom tab............
.custom_tab {
  .tab_list {
    &.tab_list_border {
      border-bottom: 1px solid var(--text-border-bottom);
    }
    .tab_list_action {
      &.tab_active {
        color: var(--text-white) !important;
        border-bottom: 6px solid var(--mdb-primary);
      }
      &.tab_list_action_hover:hover {
        color: var(--text-white) !important;
      }
    }
  }
}

// custom tab............End

// ..................custom_table_history..........
.custom_table_history {
  td,
  th {
    border-bottom: 1px solid var(--text-border-bottom) !important;
  }
  .globe_box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(#fecb43, #fe7e54);
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
  }
  .negative_value {
    color: var(--mdb-danger);
  }
  .positive_value {
    color: var(--mdb-success);
  }
}
.custom_activity_table {
  td,
  th {
    border-bottom: 1px solid var(--text-border-bottom) !important;
    vertical-align: middle;
  }
  tbody {
    tr {
      &:hover {
        background: var(--text-39);
      }
    }
  }
  .item_box {
    width: 46px;
    height: 46px;
    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
// ..................custom_table_history..........End

// ..................CollectionsCard2..............
#CollectionsCard2 {
  .card_wrapper {
    background: var(--text-39);
    border-radius: 10px;
    overflow: hidden;
    font-size: 15px;
    transition: 0.1s;
    &:hover {
      transform: translateY(-4px);
    }
    .card_footer {
      background: linear-gradient(
        rgba(21, 27, 34, 0.392) 0%,
        rgb(48, 51, 57) 20%
      );
    }
    .buy_now {
      display: none;
    }
    &:hover {
      .buy_now {
        display: block;
      }
    }
  }
}
// ..................CollectionsCard2..............End

// ...............Custom Dropdown................
.custom_dropdown {
  background: transparent;
  .dropdown_action {
    border-bottom: 1px solid rgb(21, 27, 34);
    background: rgb(76, 80, 92);
    color: var(--text-r35);
    transition: 0.2s;
    &:hover {
      background: var(--text-39);
    }
  }
}

// ........................For form stylesheet ..............

// mixin
@mixin img_upload_control($size, $radius) {
  $s: $size;
  width: $s;
  height: $s;
  border-radius: $radius;
  border: 3px dashed var(--text-white);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: var(--text-black);
  }
  svg {
    opacity: 0.1;
  }
}

.img_upload_control_circle {
  @include img_upload_control(180px, 50%);
}
.img_upload_control_radius {
  @include img_upload_control(280px, 5%);
  &.banner_img {
    min-width: 1000px;
    border-radius: 1%;
  }
}
.form_custom_control,
.form_custom_control:focus {
  background: var(--text-2e) !important;
  color: var(--text-white) !important;
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
 
  &::placeholder {
    color: var(--text-white-75);
  }
  &.text-success,
  &.text-success::placeholder {
    color: var(--mdb-success) !important;
  }
}
.btn_type_select {
  background: var(--text-2e);
  color: var(--text-white);
  border: 1px solid transparent;
  outline: none !important;
  box-shadow: none !important;
  display: inline-block;
  min-width: 120px;
  padding: 8px 12px;
  text-align: left;
  &.select_type {
    border: 1px solid var(--mdb-primary);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      top: -5px;
      right: -5px;
      display: block;
      background: var(--mdb-cyan);
      border: 3px solid var(--text-white);
    }
    &::before {
      content: "\f00c";
      font-family: "font awesome 5 free";
      font-weight: bold;
      position: absolute;
      top: -4px;
      right: -1px;
      z-index: 2;
      font-size: 11px;
    }
  }
}
.form_group_list {
  background: var(--text-2e);
  a {
    color: var(--text-white-75);
  }
}
.account_type_list {
  max-height: 200px;
  overflow: auto;
  .search_control {
  }
  .list_item {
    color: var(--text-white-75);
    cursor: pointer;
    .circle_box {
      width: 30px;
      height: 30px;
      background: linear-gradient(#ffb51a, #ff6845);
      border: 1px solid white;
      border-radius: 50%;
      display: inline-block;
    }
    .select_circle {
      $s: 20px;
      width: $s;
      height: $s;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.5);
      display: inline-block;
      &.active_select_circle {
        background: var(--mdb-primary);
      }
    }
  }
}

// ........................For form stylesheet ..............End

// ..................This is for components styles global..........End
