.nav_list_hover {
  position: relative;
}

.nav_list_hover .hover_list {
  position: absolute;
  top: 57%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  padding-top: 25px;
}

.nav_list_hover .hover_list.hover_right {
  left: auto;
  right: 0px;
}

.nav_list_hover .hover_list.min_width {
  width: 200px;
}

.nav_list_hover .hover_list.min_width.min_width_lg {
  width: 250px;
}

.nav_list_hover .hover_action:hover .hover_list {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.custom_tab .tab_list.tab_list_border {
  border-bottom: 1px solid var(--text-border-bottom);
}

.custom_tab .tab_list .tab_list_action.tab_active {
  color: var(--text-white) !important;
  border-bottom: 3px solid var(--mdb-primary);
}

.custom_tab .tab_list .tab_list_action.tab_list_action_hover:hover {
  color: var(--text-white) !important;
}

.custom_table_history td,
.custom_table_history th {
  border-bottom: 1px solid var(--text-border-bottom) !important;
}

.custom_table_history .globe_box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fecb43), to(#fe7e54));
  background: linear-gradient(#fecb43, #fe7e54);
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
}

.custom_table_history .negative_value {
  color: var(--mdb-danger);
}

.custom_table_history .positive_value {
  color: var(--mdb-success);
}

.custom_activity_table td,
.custom_activity_table th {
  border-bottom: 1px solid var(--text-border-bottom) !important;
  vertical-align: middle;
}

.custom_activity_table tbody tr:hover {
  background: var(--text-39);
}

.custom_activity_table .item_box {
  width: 46px;
  height: 46px;
  border-radius: 8px;
}

.custom_activity_table .item_box img {
  width: 100%;
  height: 100%;
}

#CollectionsCard2 .card_wrapper {
  background: var(--text-39);
  border-radius: 10px;
  overflow: hidden;
  font-size: 15px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#CollectionsCard2 .card_wrapper:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

#CollectionsCard2 .card_wrapper .card_footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 27, 34, 0.392)), color-stop(20%, #303339));
  background: linear-gradient(rgba(21, 27, 34, 0.392) 0%, #303339 20%);
}

#CollectionsCard2 .card_wrapper .buy_now {
  display: none;
}

#CollectionsCard2 .card_wrapper:hover .buy_now {
  display: block;
}

.custom_dropdown {
  background: transparent;
}

.custom_dropdown .dropdown_action {
  border-bottom: 1px solid #151b22;
  background: #4c505c;
  color: var(--text-r35);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.custom_dropdown .dropdown_action:hover {
  background: var(--text-39);
}

.img_upload_control_circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px dashed var(--text-white);
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_upload_control_circle:hover {
  background: var(--text-black);
}

.img_upload_control_circle svg {
  opacity: 0.1;
}

.img_upload_control_radius {
  width: 280px;
  height: 280px;
  border-radius: 5%;
  border: 3px dashed var(--text-white);
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_upload_control_radius:hover {
  background: var(--text-black);
}

.img_upload_control_radius svg {
  opacity: 0.1;
}

.img_upload_control_radius.banner_img {
  min-width: 1000px;
  border-radius: 1%;
}

.form_custom_control,
.form_custom_control:focus {
  background: var(--text-2e) !important;
  color: var(--text-white) !important;
  border: 0;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form_custom_control::-webkit-input-placeholder,
.form_custom_control:focus::-webkit-input-placeholder {
  color: var(--text-white-75);
}

.form_custom_control:-ms-input-placeholder,
.form_custom_control:focus:-ms-input-placeholder {
  color: var(--text-white-75);
}

.form_custom_control::-ms-input-placeholder,
.form_custom_control:focus::-ms-input-placeholder {
  color: var(--text-white-75);
}

.form_custom_control::placeholder,
.form_custom_control:focus::placeholder {
  color: var(--text-white-75);
}

.form_custom_control.text-success, .form_custom_control.text-success::-webkit-input-placeholder,
.form_custom_control:focus.text-success,
.form_custom_control:focus.text-success::-webkit-input-placeholder {
  color: var(--mdb-success) !important;
}

.form_custom_control.text-success, .form_custom_control.text-success:-ms-input-placeholder,
.form_custom_control:focus.text-success,
.form_custom_control:focus.text-success:-ms-input-placeholder {
  color: var(--mdb-success) !important;
}

.form_custom_control.text-success, .form_custom_control.text-success::-ms-input-placeholder,
.form_custom_control:focus.text-success,
.form_custom_control:focus.text-success::-ms-input-placeholder {
  color: var(--mdb-success) !important;
}

.form_custom_control.text-success, .form_custom_control.text-success::placeholder,
.form_custom_control:focus.text-success,
.form_custom_control:focus.text-success::placeholder {
  color: var(--mdb-success) !important;
}

.form_custom_control.bg-transparent,
.form_custom_control:focus.bg-transparent {
  background: transparent !important;
}

.custom_round_checkbox {
  position: relative;
}

.custom_round_checkbox input {
  display: none;
}

.custom_round_checkbox input:checked ~ i {
  display: block !important;
}

.custom_round_checkbox i {
  position: absolute;
  left: 4px;
  top: 2px;
  color: #0394f5;
  display: none;
}

.custom_round_checkbox label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.custom_round_checkbox label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid var(--text-white-75);
  left: 0;
}

.btn_type_select {
  background: var(--text-2e);
  color: var(--text-white);
  border: 1px solid transparent;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  display: inline-block;
  min-width: 120px;
  padding: 8px 12px;
  text-align: left;
}

.btn_type_select.select_type {
  border: 1px solid var(--mdb-primary);
  position: relative;
}

.btn_type_select.select_type::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  top: -5px;
  right: -5px;
  display: block;
  background: var(--mdb-cyan);
  border: 3px solid var(--text-white);
}

.btn_type_select.select_type::before {
  content: "\f00c";
  font-family: "font awesome 5 free";
  font-weight: bold;
  position: absolute;
  top: -4px;
  right: -1px;
  z-index: 2;
  font-size: 11px;
}

.form_group_list {
  background: var(--text-2e);
}

.form_group_list a {
  color: var(--text-white-75);
}

.account_type_list {
  max-height: 200px;
  overflow: auto;
}

.account_type_list .list_item {
  color: var(--text-white-75);
  cursor: pointer;
}

.account_type_list .list_item .circle_box {
  width: 30px;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb51a), to(#ff6845));
  background: linear-gradient(#ffb51a, #ff6845);
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}

.account_type_list .list_item .select_circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
}

.account_type_list .list_item .select_circle.active_select_circle {
  background: var(--mdb-primary);
}

.filter_aside_wrapper {
  width: 80px;
  border-right: 1px solid var(--text-border-bottom);
}
/*# sourceMappingURL=StyleComponent.css.map */