.nav_list_hover {
  position: relative;
}

.nav_list_hover .hover_list {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  padding-top: 25px;
}

.nav_list_hover .hover_list.hover_right {
  left: auto;
  right: 0px;
}

.nav_list_hover .hover_list.min_width {
  width: 200px;
}

.nav_list_hover .hover_list.min_width.min_width_lg {
  width: 250px;
}

.nav_list_hover .hover_action:hover .hover_list {
  opacity: 1;
  pointer-events: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.custom_tab .tab_list.tab_list_border {
  border-bottom: 1px solid var(--text-border-bottom);
}

.custom_tab .tab_list .tab_list_action.tab_active {
  color: var(--text-white) !important;
  border-bottom: 6px solid var(--mdb-primary);
}

.custom_tab .tab_list .tab_list_action.tab_list_action_hover:hover {
  color: var(--text-white) !important;
}

.custom_table_history td,
.custom_table_history th {
  border-bottom: 1px solid var(--text-border-bottom) !important;
}

.custom_table_history .globe_box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fecb43), to(#fe7e54));
  background: linear-gradient(#fecb43, #fe7e54);
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
}

.custom_table_history .negative_value {
  color: var(--mdb-danger);
}

.custom_table_history .positive_value {
  color: var(--mdb-success);
}

.custom_activity_table td,
.custom_activity_table th {
  border-bottom: 1px solid var(--text-border-bottom) !important;
  vertical-align: middle;
}

.custom_activity_table tbody tr:hover {
  background: var(--text-39);
}

.custom_activity_table .item_box {
  width: 46px;
  height: 46px;
  border-radius: 8px;
}

.custom_activity_table .item_box img {
  width: 100%;
  height: 100%;
}

#CollectionsCard2 .card_wrapper {
  background: var(--text-39);
  border-radius: 10px;
  overflow: hidden;
  font-size: 15px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#CollectionsCard2 .card_wrapper:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

#CollectionsCard2 .card_wrapper .card_footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 27, 34, 0.392)), color-stop(20%, #303339));
  background: linear-gradient(rgba(21, 27, 34, 0.392) 0%, #303339 20%);
}

#CollectionsCard2 .card_wrapper .buy_now {
  display: none;
}

#CollectionsCard2 .card_wrapper:hover .buy_now {
  display: block;
}

.custom_dropdown {
  background: transparent;
}

.custom_dropdown .dropdown_action {
  border-bottom: 1px solid #151b22;
  background: #4c505c;
  color: var(--text-r35);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.custom_dropdown .dropdown_action:hover {
  background: var(--text-39);
}

.img_upload_control_circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px dotted var(--text-white);
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_upload_control_circle svg {
  opacity: 0.1;
}

.img_upload_control_radius {
  width: 280px;
  height: 280px;
  border-radius: 5%;
  border: 3px dotted var(--text-white);
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_upload_control_radius svg {
  opacity: 0.1;
}

.img_upload_control_radius.banner_img {
  min-width: 1000px;
  border-radius: 1%;
}
/*# sourceMappingURL=StyleComponent.css.map */