header#Header {
  border-bottom: 1px solid var(--text-26);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

@media (max-width: 1300px) {
  header#Header .logo_wrapper {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
  }
}

@media (max-width: 600px) {
  header#Header .logo_wrapper .logo {
    height: 40px !important;
  }
}

header#Header .searchBox_wrapper {
  position: relative;
}

header#Header .searchBox_wrapper i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 35px;
  opacity: 0.5;
}

header#Header .searchBox_wrapper input,
header#Header .searchBox_wrapper input:focus {
  background: var(--text-40);
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: var(--text-white);
}

header#Header .searchBox_wrapper input:focus {
  background: var(--text-5c);
}

@media (max-width: 991px) {
  header#Header .searchBox_wrapper input {
    width: 100% !important;
  }
}

header#Header .searchBox_wrapper .btn_toggle_search_box {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
}

header#Header .searchBox_wrapper .btn_toggle_search_box.is_toggle_open {
  display: block;
}

header#Header .searchBox_wrapper .btn_toggle_search_box input {
  height: 60px;
}

header#Header .searchBox_wrapper .btn_toggle_search_box i {
  left: 20px;
  cursor: pointer;
}

header#Header .nav_list_wrapper .nav_item {
  color: var(--text-white-75);
  fill: var(--text-white-75);
  font-weight: bold;
  background: var(--text-1d);
}

header#Header .nav_list_wrapper .nav_item:hover {
  color: var(--text-white);
  fill: var(--text-white);
}

header#Header .EZDrawer__container {
  background: var(--text-0f);
  top: 77px !important;
  width: 420px !important;
  height: calc(100vh - 77px) !important;
}

@media (max-width: 420px) {
  header#Header .EZDrawer__container {
    width: 100% !important;
  }
}

header#Header .NavDrawer {
  overflow: auto;
  color: var(--text-white);
}

header#Header .NavDrawer .drawer_title {
  font-weight: bold;
  border-bottom: 1px solid #151b22;
}

header#Header .NavDrawer .drawer_body .drawer_body_list {
  border-radius: 5px;
  overflow: hidden;
}

header#Header .NavDrawer .drawer_body .drawer_body_list .list_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header#Header .NavDrawer .drawer_body .drawer_body_list .list_action .custom_badge {
  margin-left: auto;
  font-size: 12px;
  background: #2081e2;
  color: white;
  padding: 2px 6px;
  border-radius: 5px;
}

header#Header .NavDrawer .drawer_body .drawer_body_list .list_action .custom_badge.Solana {
  background-color: #e5e8eb;
  color: #8a939b;
}

header#Header .NavDrawer .drawer_body .drawer_body_list .list_action .custom_badge.mobile {
  background: transparent;
}

header#Header .NavDrawer .drawer_body .drawer_body_list .list_action:hover {
  -webkit-box-shadow: var(--text-r49) 0px 0px 8px 0px;
          box-shadow: var(--text-r49) 0px 0px 8px 0px;
  background-color: var(--text-r57);
}

header#Header .NavDrawer .drawer_body .btn_show_more {
  width: 100%;
  background: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px 0px 20px 20px;
}

header#Header .night_mode_control {
  display: inline-block;
  width: 60px;
  height: 25px;
  border: none;
  outline: none;
  position: relative;
}

header#Header .night_mode_control::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--text-white);
  border-radius: 50%;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header#Header .night_mode_control.light_mode {
  background: var(--text-5c) !important;
}

header#Header .night_mode_control.light_mode::after {
  right: calc(100% - 22px);
}
/*# sourceMappingURL=Header.css.map */