header#Header {
  border-bottom: 1px solid var(--text-26);
  .searchBox_wrapper {
    position: relative;
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 35px;
      opacity: 0.5;
    }
    input,
    input:focus {
      background: var(--text-40);
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      color: var(--text-white);
    }
    input:focus {
      background: var(--text-5c);
    }
  }
  .nav_list_wrapper {
    .nav_item {
      color: var(--text-white-75);
      fill: var(--text-white-75);
      font-weight: bold;
      &:hover {
        color: var(--text-white);
        fill: var(--text-white);
      }
    }
  }
}
