header#Header {
  border-bottom: 1px solid var(--text-26);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  .logo_wrapper {
    @media (max-width: 1300px) {
      flex-grow: 0 !important;
    }
    @media (max-width: 600px){
      .logo{
        height: 40px!important;
      }
    }
  }
  .searchBox_wrapper {
    position: relative;
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 35px;
      opacity: 0.5;
    }
    input,
    input:focus {
      background: var(--text-40);
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      color: var(--text-white);
    }
    input:focus {
      background: var(--text-5c);
    }
    @media (max-width: 991px) {
      input {
        width: 100% !important;
      }
    }
    .btn_toggle_search_box {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2000;
      display: none;
      &.is_toggle_open {
        display: block;
      }
      input {
        height: 60px;
      }
      i {
        left: 20px;
        cursor: pointer;
      }
    }
  }
  .nav_list_wrapper {
    .nav_item {
      color: var(--text-white-75);
      fill: var(--text-white-75);
      font-weight: bold;
      background: var(--text-1d);
      &:hover {
        color: var(--text-white);
        fill: var(--text-white);
      }
    }
  }

  // EZDrawer__container
  .EZDrawer__container {
    background: var(--text-0f);
    top: 77px !important;
    width: 420px !important;
    height: calc(100vh - 77px) !important;
    @media (max-width: 420px) {
      width: 100% !important;
    }
  }
  .NavDrawer {
    overflow: auto;
    color: var(--text-white);
    .drawer_title {
      font-weight: bold;
      border-bottom: 1px solid rgb(21, 27, 34);
    }
    .drawer_body {
      .drawer_body_list {
        border-radius: 5px;
        overflow: hidden;
        .list_action {
          display: flex;
          align-items: center;
          transition: 0.2s;
          .custom_badge {
            margin-left: auto;
            font-size: 12px;
            background: #2081e2;
            color: white;
            padding: 2px 6px;
            border-radius: 5px;
            &.Solana {
              background-color: rgb(229, 232, 235);
              color: rgb(138, 147, 155);
            }
            &.mobile {
              background: transparent;
            }
          }
          &:hover {
            box-shadow: var(--text-r49) 0px 0px 8px 0px;
            background-color: var(--text-r57);
          }
        }
      }
      .btn_show_more {
        width: 100%;
        background: transparent;
        outline: none;
        box-shadow: none;
        border-radius: 0px 0px 20px 20px;
      }
    }
  }

  // ............................night_mode_control ......
  .night_mode_control {
    display: inline-block;
    width: 60px;
    height: 25px;
    border: none;
    outline: none;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background: var(--text-white);
      border-radius: 50%;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      transition: 0.3s;
    }
    &.light_mode {
      background: var(--text-5c) !important;
      &::after {
        right: calc(100% - 22px);
      }
    }
  }
  // ............................night_mode_control ......End
}
