#AssetsPage {
  .assets_left_wrapper {
    .assets_card_box {
    //   background: var(--text-39);
      border-radius: 10px;
      overflow: hidden;
      .card_box_img {
        height: 500px;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
      }
      
    }
    .assets_collapse_box{
        .collapse_header{
            cursor: pointer;
        }
    }

  }
}
