// .......................Global settings ........................
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
:root {
  // font for responsive rem
  // color variable
  --text-1d: #04111d;
  --text-40: #353840;
  --text-white: #fff;
  --text-white-75: rgba(255, 255, 255, 0.75);
  --text-black: #000;
  --text-5c: #4c505c;
  --text-0f: #0e0f0f;
  --text-26: #262626;
  --text-r49: rgba(4, 17, 29, 0.25);
  --text-r57: rgb(48, 51, 57);
  --text-5c: #4c505c;
  --text-r34: rgb(21, 27, 34);
  --text-r155: rgb(138, 147, 155);
  --text-border-bottom: rgba(68, 68, 68, 0.5);
  --text-r35: rgb(229, 232, 235);
  --text-white-75: rgba(255, 255, 255, 0.75);
  --text-white-50: rgba(255, 255, 255, 0.5);
  --text-39: #303339;
  --text-r155: rgb(138, 147, 155);
  --text-12: #121212;
  --text-2e: #2e2e2e;

  // custom mdb variable changing color

  // night
  &.light_theme {
    --text-1d: #eee;
    --text-40: #353840;
    --text-white: #fff;
    --text-white-75: rgba(255, 255, 255, 0.75);
    --text-black: #000;
    --text-5c: #4c505c;
    --text-0f: #fff;
    --text-26: #262626;
    --text-r49: rgba(4, 17, 29, 0.25);
    --text-r57: rgb(48, 51, 57);
    // global classes
    .text-white,
    .text-light {
      color: #000 !important;
    }
  }
}
html,
body {
  padding: 0;
  margin: 0;
  background: var(--text-0f);
  color: var(--text-r35);
}
button:not(.text-capitalize) {
  text-transform: none !important;
}

// .......................Global settings ........................End

// .....................color classes................
.text_1d {
  color: var(--text-1d);
}
.text_r155 {
  color: var(--text-r155);
}
.text_r35 {
  color: var(--text-r35);
}
.text_white_75 {
  color: var(--text-white-75);
}
.bg_1d {
  background: var(--text-1d);
}
.bg_12 {
  background: var(--text-12);
}
.bg_transparent {
  background: transparent;
}
.text_black_hover {
  color: var(--text-r155);
  &:hover {
    color: var(--text-r35);
  }
}
.fill_heart_icon {
  fill: var(--text-r155);
  height: 18px;
  &:hover,
  &.active_icon {
    fill: var(--mdb-danger);
  }
}
// .....................color classes................End

// ....................border classes............
.border-dark:not(.not_alpha) {
  border-color: rgba(48, 51, 57, 0.5) !important;
}
.border_bottom {
  border-bottom: 1px solid var(--text-border-bottom);
}
.border_top {
  border-top: 1px solid var(--text-border-bottom);
}
.border_bottom_0 {
  border-bottom: none;
}
.border_all_side {
  border: 1px solid var(--text-border-bottom)!important;
}
.border_left {
  border-left: 1px solid var(--text-border-bottom);
}
// ....................border classes............End

// ......................font size ...........
.font_12 {
  font-size: 12px;
}
// ......................font size ...........End
// ...................Section styles .............
section {
  .section_description {
    line-height: 27px;
  }
}
// ...................Section styles .............End

// ...................border-radius styles ........
.radius_10 {
  border-radius: 10px;
}
.circle_box {
  min-width: 30px;
  height: 30px;
  background: linear-gradient(#ffb51a, #ff6845);
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}

.token_box {
  min-width: 35px;
  height: 35px;
  background: linear-gradient(#ffb51a, #ff6845);
  border: 1px solid white;
  display: inline-block;
  border-radius: 4px;
  img {
    width: 100%;
    height: 100%;
  }
}
// ...................border-radius styles ........End

// ....................Btn ...................
.btn_plus {
  background: var(--text-2e);
  border: 0;
}
.btn-outline-light {
  color: var(--text-white-75);
  border-color: var(--text-white-50);
}

// ....................Overflow ................
.overflow_auto {
  overflow: auto;
}
// ....................Overflow ................End
