// .......................Global settings ........................
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  // font for responsive rem
  // color variable
  --text-1d: #04111d;
  --text-40: #353840;
  --text-white: #fff;
  --text-white-75: rgba(255, 255, 255, 0.75);
  --text-black: #000;
  --text-5c: #4c505c;
  --text-0f: #0e0f0f;
  --text-26: #262626;
  --text-r49: rgba(4, 17, 29, 0.25);
  --text-r57: rgb(48, 51, 57);
  --text-5c: #4c505c;
  --text-r34: rgb(21, 27, 34);
  --text-r155: rgb(138, 147, 155);
  --text-border-bottom: rgba(68, 68, 68, 0.5);
  --text-r35: rgb(229, 232, 235);
  --text-white-75: rgba(255, 255, 255, 0.75);
  --text-white-50: rgba(255, 255, 255, 0.50);

  // night
  &.light_theme {
    --text-1d: #eee;
    --text-40: #353840;
    --text-white: #fff;
    --text-white-75: rgba(255, 255, 255, 0.75);
    --text-black: #000;
    --text-5c: #4c505c;
    --text-0f: #fff;
    --text-26: #262626;
    --text-r49: rgba(4, 17, 29, 0.25);
    --text-r57: rgb(48, 51, 57);
    // global classes
    .text-white,
    .text-light {
      color: #000 !important;
    }
  }
}
html,
body {
  padding: 0;
  margin: 0;
  background: var(--text-0f);
  color: var(--text-r35);
}

// .......................Global settings ........................End

// .....................color classes................
.text_1d {
  color: var(--text-1d);
}
.text_r155 {
  color: var(--text-r155);
}
.text_white_75 {
  color: var(--text-white-75);
}
.bg_1d {
  background: var(--text-1d);
}

// .....................color classes................End

// ....................border classes............
.border-dark:not(.not_alpha) {
  border-color: rgba(48, 51, 57, 0.5) !important;
}
.border_bottom{
  border-bottom: 1px solid var(--text-border-bottom);
}
// ....................border classes............End

// ...................Section styles .............
section {
  .section_description {
    line-height: 27px;
  }
}
// ...................Section styles .............End
